<h4 class="text-light"><%= title %></h4>

<div class="container d-flex flex-column text-light p-5 mt-5">
    <h2>Create Contact</h2>
    <form action="/create-contact" method="post">
        <div class="pt-3">
            <div class="mb-3">
                <label for="name" class="form-label required">Name</label>
                <input type="name" class="form-control <%= errors.name ? 'is-invalid' : '' %>" id="name" name="name" placeholder="Name" value="<%= formData.name || '' %>" required>
                <div class="invalid-feedback">
                    <%= errors.name || '' %>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email" name="email" placeholder="name@example.com" value="<%= formData.email || '' %>">
                <div class="invalid-feedback">
                    <%= errors.email || '' %>
                </div>
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Phone Number</label>
                <input type="mobile" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="mobile" name="mobile" placeholder="08xxxxxxxxxx" value="<%= formData.mobile || '' %>">
                <div class="invalid-feedback">
                    <%= errors.mobile || '' %>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <a href="/contact" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>