<h1><%= title %></h1>

<h2>Contact List</h2>
<div>
    <% if (!contacts.length) { %>
        <span>There is no contact yet!</span>
    <% }else { %>
        <% contacts.forEach(contact => { %>
            <li style="list-style: none;">
                <span>Name: <%= contact.name  %></span>
                <br>
                <span>Email: <%= contact.email  %></span>
                <!-- <span>Name: <a href="/contact/<%= contact.name %>"><%= contact.name  %></a></span> -->
                <!-- <br>
                <span>Phone Number: <%= contact.mobile  %></span> -->
            </li>
            <br>
        <% }) %>
    <% } %>
</div>