<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css" type="text/css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1><%= title %></h1>

    <h2>Contact Detail</h2>
    <div class="btn">
        <a href="/contact">Back</a>
    </div>
    <div>
        <span>Name: <%= contact.name  %></span>
        <br>
        <span>Email: <%= contact.email %></span>
        <br>
        <span>Phone Number: <%= contact.mobile  %></span>
    </div>
</body>
</html>